body {
	background-color: rgb(18, 118, 219);
	font-family: arial, sans-serif;
	text-align:center;
}

p.logo {
	font-family: 'Orbitron', sans-serif;
	font-size: 6em;
	color: #fff;
}

h1 {
	font-size: 2em;
}
